/**
 *   This is a sample file, used to provide a template
 *   This file should not be used directly, instead create a `secrets.gradle` file and fill that out instead
 */

VUFORIA_KEY = "PUT YOUR VUFORIA KEY HERE"
