package org.firstinspires.ftc.teamcode.Team

class Secrets {
    companion object {
        /**
         *   Put your vuforia key here, wrapped in quotes
         *   Then rename this file to Secrets.kt by removing the .sample suffix
         */
        const val VUFORIA_KEY: String =
    }
}